footer {
  padding: 10px 0 50px;
  justify-content: center;
  align-items: flex-start;
}

footer img {
  width: 150px;
}

footer form {
  grid-column: 2/3;
  width: 350px;
  margin: 0 auto;
  padding: 10px 0;
}

.div-form {
  background: var(--color-third);
  border-radius: 10px;
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto !important;
  margin-right: 25px !important;
}
