footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
  
}

footer img {
  width: 200px;
  height: auto;
}

footer form {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--color-secondary);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea.form-control {
  height: 150px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: var(--color-third);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-secondary);
}

.btn:active {
  background-color: var(--color-primary);
}
