.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 107px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.logotipo {
  width: 180px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

header nav ul li a:hover {
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
}

.link-inscricao {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.link-noticias {
  background-color: var(--color-third);
  border-color: var(--color-third);
}

/* Regras de Responsividade Para Telas Inferiores a 800px */

@media (max-width: 800px) {
  .logotipo {
    width: 120px;
  }

  header nav ul li {
    margin: 0 10px;
  }
  /* Regras de Responsividade Para Telas Inferiores a 360px */

  .logotipo {
    width: 80px;
  }

  header nav ul li {
    margin: 0 5px;
  }

  header nav ul li a {
    font-size: 18px;
    padding: 5px 10px;
  }
}
