/*Todas as seções do main*/

main section:nth-child(1) {
}

main section:nth-child(2) {
  border: solid 3px #000;
}

/* DEPOIMENTOS  */
.depoimento {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  flex-basis: calc(33% - 20px);
}
.depoimento img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
}
.depoimento .info {
  text-align: right;
  flex-grow: 1;
}
.depoimento h2 {
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
}
.depoimento h4 {
  margin: 0;
  color: var(--color-text-secondary);
  text-align: left;
}
.depoimento .descricao {
  text-align: justify;
}
ul.depoimentos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul.depoimentos li {
  margin: 0px 10px 40px;
  width: calc(33% - 20px);
}

/* FAQ */
main section:nth-child(4) {
  border: solid 1px white;
}

main section:nth-child(4) > h1 {
  padding: 15px;
  max-width: 800px;
  margin: 0 auto 10px;
  font-size: 32px;
  font-family: sans-serif;
  color: #5b7fb9;
}

main section:nth-child(4) > dl {
  padding: 15px;
  display: block;
  width: 80%;
  margin: 0 auto;
}

main section:nth-child(4) dt {
  margin-bottom: 1.2rem;
  font-weight: bolder;
  color: var(--color-third);
  font-size: 23px;
  letter-spacing: .1rem;
  cursor: pointer;
}
main section:nth-child(4) dt:active {
  opacity: 0.4;
}

main section:nth-child(4) dd{
  padding-bottom: 1.3rem;
  margin-left: 30px;
  text-align: left;
  line-height: 1.6rem;
  /* word-spacing: 2px; */
  letter-spacing: calc(.1rem - 1px);
  display: none;
}

.motrarRespostaFaq{
  display: block !important;
  animation: slideDown 1.3s;
}

@keyframes slideDown {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

main section:nth-child(4) dt::after {
  content: url(../img/imgs/svgs/arrow-90deg-up.svg);
  margin-left: 0.3rem;
}

main section:nth-child(4) dt.ativo::after {
  content: url(../img/imgs/svgs/arrow-90deg-down.svg);
  margin-left: 0.3rem;
}

main section:nth-child(4) dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #5b7fb9;
}

/* CALENDÁRIO E EVENTOS */
main section:nth-child(5) {
  margin: 20px auto;
  max-width: 800px;
}

h2 {
  font-size: 32px;
  text-align: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.month-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.prev-month,
.next-month {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: #ddd;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

td:not(:empty):hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event {
  width: calc(33.33% - 10px);
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

h4 {
  margin-top: 0;
  font-size: 20px;
}

p {
  margin: 10px 0;
}

i {
  font-style: normal;
}

/* SEÇÃO NOTICIAS */
main section:nth-child(6) {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 200px;
  justify-content: center;
  padding: 15px;
}

main section:nth-child(6) div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

/* Imagem */
main section:nth-child(6) img {
  width: 55%;
  border-radius: 10px;
  outline: 3px solid var(--color-third);
  outline-offset: 2px;
  border-radius: 3px;
  margin-right: 10px;
}

/* Noticia */
main section:nth-child(6) article {
  width: 55%;
  padding-left: 0.5rem;
}

/* Título */
main section:nth-child(6) article h2 {
  color: black;
}

/* Publicado */
main section:nth-child(6) article p {
  margin-top: 2rem;
  font-weight: bold;
}

/* Data */
main section:nth-child(6) article i {
  color: var(--color-third);
  font-style: normal;
  font-weight: lighter;
}

/* Hora */
main section:nth-child(6) article span {
  color: var(--color-primary);
  font-weight: lighter;
}

/* Seção de Inscrição*/
main section:nth-child(7) {
  border: solid 1px white;
  background-color: var(--color-third);
}

/* Texto imagem e titulo */
.divNoticias{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 120px 10%;
}


.divNoticias div:nth-child(1){
  padding: 15px;
  width: 39%;
  margin-right: 20px;
}


.divNoticias div:nth-child(1) h1{
  margin-bottom: 1.3rem;
  text-align: center;
  font-family: var(--font-padrao);
  color: white;
  text-shadow: #333 2px 2px 2px;
}


.divNoticias div:nth-child(1) hr{
  margin-bottom: 1rem;
}

.divNoticias div:nth-child(1) article{
  color: white;
  padding: 15px 5%;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.divNoticias div:nth-child(1) article p{
  text-align: center;
  margin-top: 0.8rem;
  font-weight: bolder;
  font-size: 20px;
  color: var(--color-primary);
}

/* arrow para direita */

.divNoticias .seta{
  width: 20%;
  display: flex;
  justify-content: center;
}

.divNoticias .seta>img{
  width: 20%;
}

/* vantagens de se fazer o reprograma-se */
.divNoticias div:nth-child(3){
  width: 37%;
}

.divNoticias div:nth-child(3) p{
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.3rem;
  color: white;
  text-shadow: #333 2px 2px 2px;
}


.divNoticias div:nth-child(3) p::before{
  content: url(../img/imgs/svgs/check.svg);
  margin-right: 0.5rem;
}


.divNoticias div:nth-child(4){
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Botão de inscrição */

.divNoticias div:nth-child(4) a{
  background-color: #1a7fbe;
  color: white;
  padding: 15px 120px;
  text-decoration: none;
  font-weight: 700;
  text-shadow: #333 2px 2px 1px;
  border-radius: 5px;
  box-shadow: #111 2px 2px 2px;
  margin-top: 2.3rem;
}


.divNoticias div:nth-child(4) a:hover{
  background-color: #1a7fbe66;
}

.divNoticias div:nth-child(4) a:active{
  position: relative;
  left: 0.3rem;
  top: 0.3rem;
}
