/*Todas as seções do main*/

/* APRESENTAÇÃO */
.landing-section {
  /* background-color: #f7f7f7; */
  padding: 60px 0;
  text-align: center;
}
.landing-block {
  max-width: 800px;
  margin: 0 auto;
}
.landing-title {
  font-size: 48px;
  margin: 0;
  color: var(--color-white);
}
.landing-description {
  font-size: 24px;
  margin-top: 10px;
  color: red;
  color: var(--color-white);
}
.landing-formation {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--color-white);
}
.landing-more-info {
  display: inline-block;
  width: auto;
  padding: 5px 35px;
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--color-white);
  text-shadow: #333 2px 2px 1px;
  background-color: var(--color-third);
  border-radius: 10px;
  box-shadow: #000 2px 2px 4px;
}

.landing-button {
  display: inline-block;
  background-image: linear-gradient(
  to right,
  var(--color-primary),
  var(--color-third)
  );
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 30px;
  text-decoration: none;
  margin-bottom: .3rem;
}

.landing-button:hover {
  opacity: 0.8;
}

.landing-image {
  max-width: 100%;
  margin-top: .4rem;
}
/* .landing-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  opacity: 0.2;
  z-index: -1;
} */

/* GRADE CURRÍCULAR */
main section:nth-child(2) {
  border: solid 3px #000;
}

/* DEPOIMENTOS  */
.depoimento {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #CCDAD1;
  padding: 10px;
  flex-basis: calc(33% - 20px);
  margin: 2rem 20px;
}

.depoimento img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
}
.depoimento .info {
  text-align: right;
  flex-grow: 1;
  color: var(--color-text-primary);
}
.depoimento h2 {
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
}
.depoimento h4 {
  margin: 0;
  color: var(--color-text-secondary);
  text-align: left;
}

/* .depoimento .descricao {
  text-align: justify;
  color: red;
} */

.descricao{
  font-family: var(--font-secondary-open-sans);
  margin: 16px 20px;
  line-height: 1.6rem;
  letter-spacing: calc(0.1rem - 1px);
  color: var(--color-text-third);
  font-size: 1em;
}

ul.depoimentos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul.depoimentos li {
  margin: 0px 10px 40px;
  width: calc(33% - 20px);
}

/* FAQ */
/* main section:nth-child(4) {
  border: solid 1px white;
} */

#faq > h1{
  text-align: center;
  padding: 15px;
  max-width: 800px;
  margin: 0 auto 10px;
  font-size: 32px;
  font-family: sans-serif;
  color: var(--color-text-primary);
}

#faq > dl {
  padding: 15px;
  display: block;
  width: 80%;
  margin: 0 auto;
}

#faq dt {
  margin-bottom: 1.2rem;
  font-weight: bolder;
  color: var(--color-text-secondary);
  font-size: 1.4em;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
#faq dt:active {
  opacity: 0.4;
}

#faq dd {
  color: var(--color-text-third);
  padding-bottom: 1.3rem;
  margin-left: 30px;
  text-align: left;
  line-height: 1.6rem;
  /* word-spacing: 2px; */
  letter-spacing: calc(0.1rem - 1px);
  display: none;
  font-size: 1.2em;
}

#faq dt::after {
  content: url(../img/imgs/svgs/arrow-90deg-up.svg);
  margin-left: 0.3rem;
}

#faq dt.ativo::after {
  content: url(../img/imgs/svgs/arrow-90deg-down.svg);
  margin-left: 0.3rem;
}

#faq dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: var(--color-text-secondary);
  border-radius: 2px;
}

.motrarRespostaFaq {
  display: block !important;
  animation: slideDown 1.3s;
}

@keyframes slideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* CALENDÁRIO E EVENTOS */
#calendarioEventos {
  margin: 20px auto;
  max-width: 800px;
}

#calendarioEventos h2 {
  font-size: 32px;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 1.2rem;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.month-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  color: var(--color-text-secondary);
}

.prev-month,
.next-month {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: #ddd;
}

.month th,
.month td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  color: var(--color-text-secondary);
}

td:not(:empty):hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event {
  width: calc(33.33% - 10px);
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.event h4 {
  margin-top: 0;
  font-size: 20px;
  color: var(--color-primary);
}

.event p {
  margin: 10px 0;
  font-family: var(--font-secondary-open-sans);
}

.event i {
  font-style: normal;
}

/* SEÇÃO NOTICIAS */
main #noticias {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 200px;
  justify-content: center;
  padding: 15px;
}

main #noticias div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

/* Imagem */
main #noticias img {
  width: 55%;
  border-radius: 10px;
  outline: 3px solid var(--color-borda-depoimento);
  outline-offset: 2px;
  border-radius: 3px;
  margin-right: 10px;
}

/* Noticia */
main #noticias article {
  width: 55%;
  padding-left: 0.5rem;
  font-family: var(--font-secondary-open-sans);
  color: var(--color-text-primary);
}

/* Título */
main #noticias h2 {
  color: var(--color-text-primary);
  font-family: var(--font-secondary-open-sans);
}

/* Publicado */
main #noticias p {
  margin-top: 2rem;
  font-weight: bold;
}

/* Data */
main #noticias i {
  color: var(--color-text-third);
  font-style: normal;
  font-weight: lighter;
}

/* Hora */
main #noticias span {
  color: var(--color-text-secondary);
  font-weight: lighter;
}

/* Seção de Inscrição*/
/* main section:nth-child(7) {
  border: solid 1px white;
  background-color: var(--color-third);
} */

/* Texto imagem e titulo */
.divInscricao {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 120px 10%;
}

.divInscricao div:nth-child(1) {
  padding: 15px;
  width: 39%;
  margin-right: 20px;
}

.divInscricao div:nth-child(1) h1 {
  margin-bottom: 1.3rem;
  text-align: center;
  color: var( --color-text-primary);
  text-shadow: #333 2px 2px 2px;
}

.divInscricao div:nth-child(1) article {
  color: var(--color-text-primary);
  padding: 15px 5%;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.divInscricao div:nth-child(1) article p {
  text-align: center;
  margin-top: 0.8rem;
  font-weight: bolder;
  font-size: 20px;
  color: var(--color-text-secondary);
}

/* arrow para direita */

.divInscricao .seta {
  width: 20%;
  display: flex;
  justify-content: center;
}

.divInscricao .seta > img {
  width: 20%;
}

/* vantagens de se fazer o reprograma-se */
.divInscricao div:nth-child(3) {
  width: 37%;
}

.divInscricao div:nth-child(3) p {
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.3rem;
  color: white;
  text-shadow: #333 2px 2px 2px;
}

.divInscricao div:nth-child(3) p::before {
  content: url(../img/imgs/svgs/check.svg);
  margin-right: 0.5rem;
}

.divInscricao div:nth-child(4) {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Botão de inscrição */

.divInscricao div:nth-child(4) a {
  background-color: #1a7fbe;
  color: white;
  padding: 15px 120px;
  text-decoration: none;
  font-weight: 700;
  text-shadow: #333 2px 2px 1px;
  border-radius: 5px;
  box-shadow: #111 2px 2px 2px;
  margin-top: 2.3rem;
}

.divInscricao div:nth-child(4) a:hover {
  background-color: #1a7fbe66;
}

.divInscricao div:nth-child(4) a:active {
  position: relative;
  left: 0.3rem;
  top: 0.3rem;
}
